<% include ../partials/header %>

<div class = "container">
  <h1 style="text-align: center">New House Listing</h1>
  <p>BECARE FULL OF WHITESPACE IN THE INPUTS</p>
  <form action="/OurHomes/" method="POST" encType="multipart/form-data">

    <div class="form-group">
        <label for="address">Street:</label>
        <input class="form-control" id="address_street" type="text" placeholder="Street" name ="address_street">
    </div>
    <div class="form-group">
        <label for="address">Township:</label>
        <input class="form-control" id="address_town" type="text" placeholder="Township" name ="address_town">
    </div>
    <div class="form-group">
        <label for="address">Price:</label>
        <input class="form-control" id="price" type="text" placeholder="Price" name ="price">
    </div>
    <label>Is this house on the market?</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="onMarket" id="onMarket1" value="Currently for Sale" >
      <label class="form-check-label" for="onMarket1">
        Currently for Sale
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="onMarket" id="onMarket2" value="About to go to market" checked>
      <label class="form-check-label" for="onMarket2">
        About to go to market
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="onMarket" id="onMarket3" value="under contract" >
      <label class="form-check-label" for="onMarket3">
        Under Contract
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="onMarket" id="onMarket4" value="Sold">
      <label class="form-check-label" for="onMarket4">
        Sold
      </label>
    </div>

    <label>Is this house on the market?</label>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="isShowing" id="isShowing1" value="true" >
      <label class="form-check-label" for="isShowing1">
        SHOW
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="isShowing" id="isShowing2" value="false" checked>
      <label class="form-check-label" for="isShowing2">
        DO NOT SHOW
      </label>
    </div>

    <div class="form-group">
        <label for="text">Description</label>
        <textarea class="form-control" id="description" rows="5" name ="description" ></textarea>
    </div>

    <div class="form-group">
        <label for="thumb_pic">Thumbnail Picture</label>
        <input type="file" name="thumb_pic" />
    </div>
<!--
    <label>Carousel Images this isnt used atm</label>

    <div class="form-row">
      <div class="col text-right">
        <label>Pic 1:</label>
      </div>
      <div class="col-6">
        <input type="text" class="form-control" placeholder="Title" name="carousel[1][url]">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Title" name="carousel[1][title]">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="SubText" name="carousel[1][subText]">
      </div>
    </div>
 -->



    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<% include ../partials/footer %>
