    </div><!-- container -->
    <div class="push"></div>
  </div><!-- wrap -->

  <!-- Footer -->
  <footer class="footer-style footer-spacing">
      <div class="container ">
        <div class="row justify-content-center">
          <div class="col-12 nunito  footer-text">
            Phone: (908) 866-6628
          </div>
          <div class="col-12  nunito  footer-text">
            © 2019 by Fallone Homes LLC. All Rights Reserved
          </div>
          <div class="col-12  nunito  footer-text">
            Email: info@fallonehomes.com
          </div>
          <div class="col-12  nunito  footer-text">
            Home Improvement Contractor # 13VH08119700
          </div>

        </div>
      </div>
  </footer>
  </body>
</html>
