    </div><!-- container -->
  </div><!-- wrap -->

  <!-- Footer -->
  <footer class="footer-style">
      <div class="container bodycontainer footer-spacing">
        <div class="row">
          <div class="col-6 nunito float-left footer-text">
            Phone: (908) 866-6628
          </div>
          <div class="col-6 nunito float-right text-right footer-text">
            © 2019 by Fallone Homes LLC. All Rights Reserved
          </div>
          <div class="col-6 nunito float-left footer-text">
            Email: info@fallonehomes.com
          </div>
          <div class="col-6 nunito float-right text-right footer-text">
            Home Improvement Contractor # 13VH08119700
          </div>

        </div>
      </div>
  </footer>
  </body>
</html>
