    </div><!-- container -->
  </div><!-- wrap -->
  <!-- Footer -->
  <footer>
      <div class="container text-center">
        <small>Phone: (908) 866-6628  Email: info@fallonehomes.com</small><br>
        <small>© 2019 by Fallone Homes LLC. All Rights Reserved</small><br>
        <small>Home Improvement Contractor # 12345678</small>
      </div>
  </footer>
  </body>
</html>
