<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Fallone Homes</title>


      <link rel="stylesheet" href="/stylesheets/main.css">
      <link rel="stylesheet" href="/stylesheets/index.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="/scripts/carouselLisener.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
      <link href="https://fonts.googleapis.com/css?family=Barlow:600&display=swap" rel="stylesheet"> <!-- you can only change the font weight here? is this correct? I found a different html text to copy paste from google fonts but that didnt work? -->
      <link href="https://fonts.googleapis.com/css?family=Nunito:800&display=swap" rel="stylesheet">
  </head>
  <body>
    <!--  Nav bar for follone house logo centered -->
    <div class="<% if (page == "Contact") { %>contact-image<% } %>" id="wrap">

      <!--  Nav bar for links-->
      <nav class="navbar navbar-expand-md navbar-light bg-faded nav-subbar nav-link-holder">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="shown-mobile" style="width:225px;">
          <a class="" href="/">
            <img class="nav-logo-mobile" src="/photos/Logo/FH logo 32px.png" alt="">
          </a>
        </div>
          <div class="navbar-collapse collapse justify-content-center order-2 " id="collapsingNavbar">
              <ul class="navbar-nav">
                <div class="nav-quote-position">
                      <p class="text-center nav-quote-text hidden-mobile">"Three generations of building better places to live"</p>
                </div>
                  <% if (typeof page === 'undefined') { %>
                      <% page = "nothing" %>
                    <% } %>
                  <% if (page == "Landing") { %>
                    <li class="nav-item boarder-top-bottom nav-link-spacing nav-active ">
                      <a class="nav-link nav-text barlow" href="/">Welcome </a>
                    </li>
                  <% } else { %>
                    <li class="nav-item boarder-top-bottom nav-link-spacing">
                      <a class="nav-link nav-text barlow" href="/">Welcome </a>
                    </li>
                  <% } %>
                  <% if (page == "OurHomes") { %>
                    <li class="nav-item boarder-top-bottom nav-link-spacing nav-active">
                        <a class="nav-link nav-text barlow" href="/OurHomes">Our Homes</a>
                    </li>
                  <% } else { %>
                    <li class="nav-item boarder-top-bottom nav-link-spacing">
                        <a class="nav-link nav-text barlow" href="/OurHomes">Our Homes</a>
                    </li>
                  <% } %>
                  <% if (page == "About") { %>
                    <li class="nav-item boarder-top-bottom nav-link-spacing nav-active">
                        <a class="nav-link nav-text barlow" href="/About">About Fallone</a>
                    </li>
                  <% } else { %>
                    <li class="nav-item boarder-top-bottom nav-link-spacing">
                        <a class="nav-link nav-text barlow" href="/About">About Fallone</a>
                    </li>
                  <% } %>
                  <% if (page == "Gallery") { %>
                    <li class="nav-item boarder-top-bottom nav-link-spacing nav-active">
                        <a class="nav-link nav-text barlow" href="/Gallery">Photo Gallery</a>
                    </li>
                  <% } else { %>
                    <li class="nav-item boarder-top-bottom nav-link-spacing">
                        <a class="nav-link nav-text barlow" href="/Gallery">Photo Gallery</a>
                    </li>
                  <% } %>
                  <% if (page == "Contact") { %>
                    <li class="nav-item boarder-top-bottom nav-link-spacing nav-active">
                        <a class="nav-link nav-text barlow" href="/Contact">Contact Us</a>
                    </li>
                  <% } else { %>
                    <li class="nav-item boarder-top-bottom nav-link-spacing">
                        <a class="nav-link nav-text barlow" href="/Contact">Contact Us</a>
                    </li>
                  <% } %>
                  <% if( currentUser && currentUser.isAdmin === true ) { %>
                  <li class="nav-item boarder-top-bottom nav-link-spacing">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ADMIN</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/OurHomes/new">New Listing</a>
                      <a class="dropdown-item" href="/Admin/OurHomes">Admin View</a>
                    <!-- This is to add gallery objects to the database ie photo gallery page  <a class="dropdown-item" href="/Admin/newgallery">New Gallery</a> -->
                      <a class="dropdown-item" href="/Admin/Logout">Logout</a>
                    </div>
                  </li>
                  <% } %>
                    <li class="nav-item hidden-mobile" style="width:195px;">
                      <div>
                        <a class="" href="/">
                          <img class="nav-logo" src="/photos/Logo/FH logo 32px.png" alt="">
                        </a>
                      </div>
                    </li>
              </ul>
          </div>
      </nav>
    <!--  <% if (page == "Contact") { %>
        <div class="contact-image">
        </div>
      <% } %> -->
      <div class="container bodycontainer ">

           <% if(error && error.length > 0) { %>
             <div class="text-center flashError">
               <div class="flash danger email-sender" ><p><%=error %></p></div>
             </div>
           <% } %>
           <% if(success && success.length > 0) { %>
             <div class="text-center flashError">
               <div class="flash success email-sender" ><p><%= success %></p></div>
             </div>
           <% } %>
