<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Fallone Homes</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  </head>
  <body>
    <!--  Nav bar for follone house logo centered -->
    <div class="" id="wrap">
      <!--  Nav bar for follone quote -->
      <div class="container justify-content-center">

      </div>
      <!--  Nav bar for links-->
      <nav class="navbar navbar-expand-md navbar-light bg-faded nav-subbar nav-link-holder">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="navbar-collapse collapse justify-content-center order-2 " id="collapsingNavbar">
              <ul class="navbar-nav">
                <div class="test">
                      <p class="text-center nav-quote-text">"Three generations of building better places to live"</p>
                </div>
                  <li class="nav-item boarder-top-bottom nav-link-spacing active nav-active">
                      <a class="nav-link nav-text" href="#">Welcome </a>
                  </li>
                  <li class="nav-item boarder-top-bottom nav-link-spacing">
                      <a class="nav-link nav-text" href="//codeply.com">Our Homes</a>
                  </li>
                  <li class="nav-item boarder-top-bottom nav-link-spacing">
                      <a class="nav-link nav-text" href="//codeply.com">About Fallone</a>
                  </li>
                  <li class="nav-item boarder-top-bottom nav-link-spacing">
                      <a class="nav-link nav-text" href="//codeply.com">Photo Gallery</a>
                  </li>
                  <li class="nav-item boarder-top-bottom nav-link-spacing">
                      <a class="nav-link nav-text" href="//codeply.com">Contact Us</a>
                  </li>
                  <li class="nav-item " style="width:225px;">
                    <div>
                      <a class="" href="/">
                        <img class=" nav-logo" src="/photos/Logo/FH logo 32px.png" alt="">
                      </a>
                    </div>
                  </li>
              </ul>
          </div>
      </nav>

      <div class="container bodycontainer">
