<% include partials/header %>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <img class="img-thumbnail" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p class="address-street">Street Address</p>
          </div>
          <div class="col-6">
            <p class="availability">AVAILABLE NOW</p>
          </div>
          <div class="col-6">
            <p class="address-town">Township</p>
          </div>
          <div class="col-6">
            <p class="cost">Offered At $</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <img class="img-thumbnail" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p class="address-street">Street Address</p>
          </div>
          <div class="col-6">
            <p class="availability">AVAILABLE NOW</p>
          </div>
          <div class="col-6">
            <p class="address-town">Township</p>
          </div>
          <div class="col-6">
            <p class="cost">Offered At $</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <img class="img-thumbnail" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p class="address-street">Street Address</p>
          </div>
          <div class="col-6">
            <p class="availability">AVAILABLE NOW</p>
          </div>
          <div class="col-6">
            <p class="address-town">Township</p>
          </div>
          <div class="col-6">
            <p class="cost">Offered At $</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
