<% include partials/header %>

<div class="container">
  <div class="row justify-content-center">
    <!-- About us image -->
    <div class="col-12 pt-3">
        <img src="/photos/Pictures/5sd/5sd front.jpg" class="img-fluid d-block h-100 img-fluid list-img about-fal-image " alt="Responsive image">
    </div>
    <!-- Paragraph one  -->
    <div class="col-12 p-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec et odio pellentesque diam volutpat commodo sed. Tortor dignissim convallis aenean et tortor at risus. Dolor sit amet consectetur adipiscing elit ut. Felis donec et odio pellentesque diam volutpat commodo sed egestas. Leo vel fringilla est ullamcorper eget nulla facilisi etiam. Lorem ipsum dolor sit amet consectetur adipiscing elit. Urna duis convallis convallis tellus id interdum velit. Ante in nibh mauris cursus mattis molestie a iaculis at. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Pretium aenean pharetra magna ac placerat. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Urna duis convallis convallis tellus. Habitant morbi tristique senectus et. Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus.</p>
    </div>
    <!-- Paragraph two -->
    <div class="col-12">
      <p>Pulvinar mattis nunc sed blandit. Scelerisque in dictum non consectetur a. Scelerisque varius morbi enim nunc faucibus. Rhoncus urna neque viverra justo nec ultrices. Ipsum dolor sit amet consectetur adipiscing elit duis tristique. Et odio pellentesque diam volutpat. Mattis aliquam faucibus purus in massa tempor nec feugiat. Neque convallis a cras semper auctor neque vitae tempus. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Justo eget magna fermentum iaculis eu non. Sodales ut eu sem integer vitae justo eget magna fermentum. Pretium nibh ipsum consequat nisl.</p>
    </div>
    <!-- Google maps -->
    <div class="col-12 pb-3">
      <div id="map" style="width: auto; height: 400px;" >
      </div>

      <script type="text/javascript">
    var locations = [
      ['Bondi Beach', -33.890542, 151.274856, 4],
      ['Coogee Beach', -33.923036, 151.259052, 5],
      ['Cronulla Beach', -34.028249, 151.157507, 3],
      ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
      ['Maroubra Beach', -33.950198, 151.259302, 1]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>

    </div>
  </div>
</div>

<% include partials/footer %>
