<% include partials/header %>

<div class="carousel-item">
  <img class="d-block w-100 img-fluid" src="/photos/Pictures/15ww/DSC06235.jpg" alt="Second slide">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p class="address-street">Street Address2</p>
      </div>
      <div class="col-6">
        <p class="availability">AVAILABLE NOW2</p>
      </div>
      <div class="col-6">
        <p class="address-town">Township2</p>
      </div>
      <div class="col-6">
        <p class="cost">Offered At 2$</p>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item">
  <img class="d-block w-100 img-fluid" src="/photos/Pictures/467mb/IMG_5585.jpg" alt="Third slide">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p class="address-street">Street Address3</p>
      </div>
      <div class="col-6">
        <p class="availability">AVAILABLE NOW3</p>
      </div>
      <div class="col-6">
        <p class="address-town">Township3</p>
      </div>
      <div class="col-6">
        <p class="cost">Offered At $3</p>
      </div>
    </div>
  </div>
</div>



<% include partials/footer %>
