<% include partials/header %>

<div class="wrapper">
  <div class="scrolls">
        <div class="overflow_horizontal">
            <img class="img-thumbnail overflow_horizontal img_house" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <p class="address-street style="font-size: 28px;">Street Address</p>
                </div>
                <div class="col-6">
                  <p class="availability">AVAILABLE NOW</p>
                </div>
                <div class="col-6">
                  <p class="address-town">Township</p>
                </div>
                <div class="col-6">
                  <p class="cost">Offered At $</p>
                </div>
              </div>
            </div>
        </div>
        <div class="overflow_horizontal">
            <img class="img-thumbnail overflow_horizontal img_house" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <p class="address-street" style="font-size: 28px;" >Street Address</p>
                </div>
                <div class="col-6">
                  <p class="availability">AVAILABLE NOW</p>
                </div>
                <div class="col-6">
                  <p class="address-town">Township</p>
                </div>
                <div class="col-6">
                  <p class="cost">Offered At $</p>
                </div>
              </div>
            </div>
        </div>
        <div class="overflow_horizontal">
            <img class="img-thumbnail overflow_horizontal img_house" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <p class="address-street">Street Address</p>
                </div>
                <div class="col-6">
                  <p class="availability">AVAILABLE NOW</p>
                </div>
                <div class="col-6">
                  <p class="address-town">Township</p>
                </div>
                <div class="col-6">
                  <p class="cost">Offered At $</p>
                </div>
              </div>
            </div>
        </div>
        <div class="overflow_horizontal">
            <img class="img-thumbnail overflow_horizontal img_house" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <p class="address-street">Street Address</p>
                </div>
                <div class="col-6">
                  <p class="availability">AVAILABLE NOW</p>
                </div>
                <div class="col-6">
                  <p class="address-town">Township</p>
                </div>
                <div class="col-6">
                  <p class="cost">Offered At $</p>
                </div>
              </div>
            </div>
        </div>

  </div>
</div>

<% include partials/footer %>
