<% include partials/header %>

        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <img class="d-block w-100 img-fluid" src="/photos/Pictures/5sd/5sd front.jpg" alt="First slide">
                  </div>
                  <div class="col-12 pt-3 nunito">
                    Phone: (908) 866-6628
                  </div>
                  <div class="col-12 nunito">
                    Fax: (908) 866-6628
                  </div>
                  <div class="col-12 nunito">
                    Address: 1131 Cambridge Lane,
                  </div>
                  <div class="col-12 nunito">
                    Bridgewater, NJ 08807
                  </div>
                  <div class="col-12 nunito">
                    ﻿Email: info@fallonehomes.com
                  </div>
                </div>
              </div>
          </div>
            <div class="col-sm-12 col-md-6">
              <form action="/contact" method="post">
              <div class="container">
                <div class="row">
                    <!--  Name -->
                    <div class="col-6 nunito p-1 pt-4">
                      <input class="form-control" id="first" type="text" placeholder="Name *" name ="name">
                    </div>
                    <!--Email-->
                    <div class="col-6 nunito p-1 pt-4">
                      <input class="form-control" id="last" type="text" placeholder="Email *" name ="email">
                    </div>
                    <!-- subject  -->
                    <div class="col-12 nunito p-1 pt-2">
                      <input class="form-control" id="subject" type="text" placeholder="Subject" name ="subject">
                    </div>

                    <!-- Email msg -->

                    <div class="col-12 nunito p-1 pt-2">
                      <textarea class="form-control" id="emailmsg" rows="8" placeholder="Message" name ="emailmsg"></textarea>
                    </div>
                    <!-- button-->
                    <div class="col-12 nunito p-1 pt-2 text-center">
                      <button type="submit" class="btn ">Send</button>
                    </div>
                </div>
              </form>
                    </div>
              </div>
          </div>
        </div>

        </div>

<% include partials/footer %>
