<% include partials/header %>


<!--Carousel Wrapper-->
    <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <% for(var i=0; i < allHouses.length ; i++){ %>
        <div class="carousel-item <% if(i == 0) {%>active<%}%>">
          <div class=" overlay-helper about-div pl-2 pr-2">
            <!--Controls-->
              <!--/.Controls-->
            <a href="/OurHomes">
              <img class="d-block w-100 img-fluid carousel-holder" src="/photos/Pictures/thumb<%=allHouses[i].address_street%>.jpg" alt="First slide">
              </a>
          </div>
        </div>
        <% } %>
      </div>
      <!--/.Slides-->

  </div>

    <!--/.Carousel Wrapper-->

<% include partials/footer %>
