<% include partials/header %>



<!--Carousel Wrapper-->
    <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class=" overlay-helper">
            <img class="d-block w-100 img-fluid" src="/photos/Pictures/5sd/5sd front.jpg" alt="First slide">
            <div class="carousel-overlay">
                <p class="overlay-left address-street carousel-text nunito">Street Address1</p>
            </div>
          </div>
          <div class="container p-0">
            <div class="row">
              <div class="col-6">
                <p class="address-town nunito">Township1</p>
              </div>
              <div class="col-6">
                <p class="cost text-right nunito">Offered At $1</p>
              </div>
            </div>
          </div>
        </div>


        <div class="carousel-item">
          <div class=" overlay-helper">
            <img class="d-block w-100 img-fluid" src="/photos/Pictures/15ww/DSC06235.jpg" alt="First slide">
            <div class="carousel-overlay">
                <p class="overlay-left address-street carousel-text nunito ">15 Wildwood Drive</p>
            </div>
          </div>
          <div class="container p-0">
            <div class="row">
              <div class="col-6">
                <p class="address-town nunito">Basking Ridge, NJ</p>
              </div>
              <div class="col-6">
                <p class="cost text-right nunito">Offered At $699,000</p>
              </div>
            </div>
          </div>
        </div>


        <div class="carousel-item">
          <div class=" overlay-helper">
            <img class="d-block w-100 img-fluid" src="/photos/Pictures/467mb/IMG_5585.jpg" alt="First slide">
            <div class="carousel-overlay">
                <p class="overlay-left address-street carousel-text nunito">Street Address3</p>
            </div>
          </div>
          <div class="container p-0">
            <div class="row">
              <div class="col-6">
                <p class="address-town nunito">Township3</p>
              </div>
              <div class="col-6">
                <p class="cost text-right nunito">Offered At $3</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>

    <!--/.Carousel Wrapper-->

<% include partials/footer %>
