<% include partials/header %>

<div class="container">

    <div class="row">
      <div class="col-7">
        <img class="d-block w-100 img-fluid" src="/photos/Pictures/5sd/5sd front.jpg" alt="First slide">
      </div>
      <div class="col-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p>Title</p>
            </div>
            <div class="col-12">
              <p>Title</p>
            </div>
            <div class="col-12">
              <p>Title</p>
            </div>
            <div class="col-12">
              <p>Title</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 about-div footer-style">
      </div>
    </div>
</div>
<% include partials/footer %>
