@media only screen and (max-width: 768px) {

  .hidden-mobile{
    display: none;
  }
  .shown-mobile{
    display: block;
  }
  .footer-text{
    font-size: 8px;
  }
}
@media only screen and (min-width: 768px) {
.hidden-mobile{
    display: block;
  }

  .shown-mobile{
    display: none;
  }

  .boarder-top-bottom{
    border-top: 2px solid rgba(75, 75, 75, 1);
    border-bottom: 2px solid rgba(75, 75, 75, 1);
  }

  .footer-text{
    font-size: 12px;
  }
}


html,body{
  height: 100%;
}

#wrap{
  min-height: 100%;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

.bodycontainer{
  max-width: 980px;
  padding-top: 15px;

}

.nav-subbar{
  background-color: rgba(235, 235, 235, 1);
  box-shadow: 0 8px 6px -6px black;
}

.nav-img{
    width: 224px;
    height: 125px;
}

.nav-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

.nav-active{
  background-color:rgba(75, 75, 75, 1);
}

.nav-active > a{
  color: white !important;
}

.nav-text{
  color: white;
}
.nav-text:hover{
  color: black;
}
.nav-logo-holder{
  padding-bottom:0;
}
.test{
  position: relative;
}
.nav-quote-text{
  position: absolute;
  width: 360px;/*getit it on a single line*/
  left: 30px;
  top:40px;
  font-style: italic;
  color:#5e8776;
  margin-bottom: 0px;
  /* hidden when too small?*/
}
.nav-link-holder{
  padding-bottom:3px;
}
.boarder-top-bottom > li {
  display: inline-flex;
}
.nav-inline{
  display: inline-flex;
}
.family-text{
  bottom:10px;
  right : 300px;
  font-style: italic;
  color:#5e8776;
}
.nav-link-spacing{
  margin-top: auto;
  margin-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
}
.nav-link-spacing > a{
  padding-top: 4px;
  padding-bottom: 4px;
}
@media only screen and (max-width: 990px) {
  .nav-link-spacing{
    margin-top: auto;
    margin-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.carousel-inner{
  width: 873;
}

.carousel-caption {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.boarder{
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel-indicators{
  position:relative;
}

.carousel-indicators > li {
  width: 100px;
}

.overlay-helper > img{
border-radius: 5px;
box-shadow: 0px 8px 6px -6px #888;
}

.carousel-overlay{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: rgba(210, 210, 210, 0.5);
  width: auto;
  display: none;
}
.overlay-helper:hover .carousel-overlay{
  display: block;
}
.carousel-control-next:hover .carousel-overlay{
  display: block;
}


.overlay-helper{
  position: relative;

}
.overlay-left{
  position: relative;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 80px;
}

/*    fonts          */

.barlow{
  font-family: 'Barlow', sans-serif;
  color: #4B4B4B;
  font-size: 16px;
}

.nunito{
  font-family: 'Nunito', sans-serif;
}

.address-street{
  font-size: 18px;
  padding-top: 10px;
}

.address-town{
  font-size: 38px;
  font-weight: bold;
}

.availability{
  font-size: 38px;
  color: red;
  font-weight: bold;
}

.cost{
  font-size: 38px;
  font-weight: bold;
  color: red;
}

a.nav-link{
  font-size: 16px;
}


/*    fonts          */

/*    email sender    */
.email-sender{
  padding-top: 5px;
  background-color: rgba(235, 235, 235, 1);
  box-shadow: 0px 8px 6px -6px #888, 0px -8px 6px -6px #888;
}
/*    email sender    */

/*    footer          */
.footer-style{
  background-color: rgba(235, 235, 235, 1);
  box-shadow: 0px 8px 6px -6px #888, 0px -8px 6px -6px #888;
}

.footer-div{
  margin: 0;
  padding: 0;
  height: 40px;
}

/*    footer          */

.align-bottom{
  bottom: 0%;
  line-height: 0px;
  background-color: red;
}

input[type="text"], #emailmsg {
  background-color: rgba(226, 232, 232, 1) ;
  border:1px solid rgba(133, 136, 131, 1);
}

button{
  width: 100%;
  color: white !important;
  background-color: rgba(75, 75, 75, 1) !important;
  border:1px solid rgba(133, 136, 131, 1) !important;
}
