html,body{
  height: 100%;
}

#wrap{
  min-height: 100%;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

.bodycontainer{
  max-width: 720px;
  padding-top: 15px;
}
.navbar{
   box-shadow: 0 8px 6px -6px black;
}
a.nav-link{
  font-size: 36px;
}

.footer{
  height: 100px;
}

.carousel-caption {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.carousel-indicators{
  position:relative;
}

.carousel-indicators > li {
  width: 100px;
}
